<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PID Ball</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body style="background: black; text-align: center; margin-top: 4em;">
    <div class="container-fluid">

        <div class="row text-center mb-2 mt-4">
            <div class="col-md-12">
                <a href="#" onclick="PSO(); return false;" class="btn btn-info">Utilizar PSO</a>
                <a href="#" onclick="Reiniciar(); return false;" class="btn btn-success">Reiniciar</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6"><canvas id="lienzo" width="500" height="500"
                    style="border: 1px solid blanchedalmond; cursor: pointer;">Su navegador no soporta
                    canvas :( </canvas></div>
            <div class="col-md-2" style="color: white;">
                <h5><strong>PID Eje X</strong></h5>
                <form id="formulario_x">
                    <div class="form-group">
                        <label for="kpx">Coef. Proporcional [Kp]</label>
                        <input type="number" class="form-control" id="kpx" step="0.000000001" min="0" value="0">
                    </div>
                    <div class="form-group">
                        <label for="kix">Coef. Integral [Ki]</label>
                        <input type="number" class="form-control" id="kix" step="0.000000001" min="0" value="0">
                    </div>
                    <div class="form-group">
                        <label for="kdx">Coef. Derivativo [Kd]</label>
                        <input type="number" class="form-control" id="kdx" step="0.000000001" min="0" value="0">
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>

            <div class="col-md-2" style="color: white;">
                <h5><strong>PID Eje Y</strong></h5>
                <form id="formulario_y">
                    <div class="form-group">
                        <label for="kpy">Coef. Proporcional [Kp]</label>
                        <input type="number" class="form-control" id="kpy" step="0.000000001" min="0" value="0">
                    </div>
                    <div class="form-group">
                        <label for="kiy">Coef. Integral [Ki]</label>
                        <input type="number" class="form-control" id="kiy" step="0.000000001" min="0" value="0">
                    </div>
                    <div class="form-group">
                        <label for="kdy">Coef. Derivativo [Kd]</label>
                        <input type="number" class="form-control" id="kdy" step="0.000000001" min="0" value="0">
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>            
        </div>         
    </div>
    <br>
    <div class="row t-4">
        <div class="col-md-12 text-center">
            <div id="grafica" style="width: 900px; height: 450px; margin: 0 auto;"></div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/highcharts.js"></script>    
    <!-- <script src="../static/js/highcharts.js.map"></script>     -->

    <script src="../static/js/principal.js"></script>    
</body>

</html>